$medium: 53.5rem;

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  //
  // padding-top: 5%;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: $medium) {
  .collection-preview {
    width: 100%;
    // left: 30%;
    .title {
      padding: 0 0 2rem;
      margin: auto;
    }
    .preview {
      width: auto;
      height: auto;
      margin: 0 auto;
      flex-direction: column;
    }
  }
}
