$medium: 53.5rem;
.collection-page {
    display: flex;
    flex-direction: column;
    //
    // padding-top: 5%;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }
  
  @media screen and (max-width: $medium) {
    .collection-page {
      .title {
        font-size: 1.5rem;
        margin: 0 auto 1rem;
      }
      .items {
        display: flex;
        flex-direction: column;
    
        & .collection-item {
          margin: auto;
          padding: 0;
          margin: 1rem auto;
        }
      }
    }
  }